body {
  font: 1rem/1.2 "Merriweather Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
img {
  border: none;
}
a {
  outline: none;
  text-decoration: none;
  color: #333333;
}
em,
i,
strong,
b {
  font-weight: 400;
  font-style: normal;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
.body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  min-height: 0;
}
.full-fill {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}
.audio-ctrl .player-btn {
  background: url(http://virola.qiniudn.com/control-music.png) 0 0 no-repeat;
  background-size: 72px 36px;
  position: fixed;
  z-index: 9999;
  display: block;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.audio-ctrl .player-btn-stop {
  background-position: -36px 0;
}
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  opacity: .5;
  z-index: 1000;
  -webkit-animation: arrowing 1s infinite;
  -o-animation: arrowing 1s infinite;
  animation: arrowing 1s infinite;
}
.device {
  padding: 30px 10px;
  background: #222;
  margin: 10px auto;
  width: 320px;
  border-radius: 20px;
  border: 4px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.loading {
  position: absolute;
  text-align: center;
  line-height: 4em;
}
.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, -1000px);
}
.page-container {
  background: #000;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}
.slide-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.s-homepage {
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
  /*background-image: url(../img/page/bg-page1.jpg);*/
}
.s-page1 {
  background-image: url(../img/page/bg-page2.png);
  color: #fff;
}
.s-page2 {
  background-image: url(../img/page/bg-page3.jpg);
}
.s-deserts {
  background: #b78a53;
}
.deserts-wrap {
  padding: 1em;
  padding-top: 3em;
}
.tab {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #ffffff;
  -moz-box-shadow: 0 0 3px #ffffff;
  box-shadow: 0 0 3px #ffffff;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  /* vertical */
  -webkit-flex-direction: row;
  /* column, row-reverse, column-reverse */
  -ms-flex-direction: row;
  flex-direction: row;
}
.tab-nav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tab-nav li {
  padding: 1em 5px;
}
.tab-nav .current {
  font-weight: 700;
  text-align: right;
}
.tab-content {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  overflow: hidden;
  position: relative;
}
.tab-content-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  padding: 2em 1em;
  line-height: 25px;
}
.tab-content .left-in {
  display: block;
  opacity: 0;
}
.tab-color1 {
  background-color: #fffdcf;
  color: #333;
}
.tab-color2 {
  background-color: #5a4445;
  color: #fff;
}
.tab-color3 {
  background-color: #ff5ca7;
  color: #333;
}
.tab-color4 {
  background-color: #ff6b1f;
  color: #fff;
}
.tab-color5 {
  background-color: #f6dde0;
  color: #333;
}
.tab-color6 {
  background-color: #ff2a1a;
  color: #fff;
}
.s-page article,
.s-page-foods article,
.s-page-video article {
  padding: 10px;
}
.s-page .title,
.s-page-foods .title,
.s-page-video .title {
  margin-top: 1em;
  margin-bottom: 10px;
  text-align: center;
}
.s-page .title img,
.s-page-foods .title img,
.s-page-video .title img {
  width: 153px;
}
.s-page {
  text-align: center;
  color: #fff;
}
.s-page article {
  position: relative;
}
.s-page .pic-album {
  /*.flex-box();
        .flex-h();*/
  *zoom: 1;
}
.s-page .pic-album:before,
.s-page .pic-album:after {
  display: table;
  content: "";
}
.s-page .pic-album:after {
  clear: both;
}
.s-page .pic-album dl {
  width: 50%;
  float: left;
}
.s-page .pic-album dt {
  color: #fff;
  font-weight: bold;
}
.s-page .pic-album img {
  display: block;
  width: 100%;
}
.s-page-foods .pic-album {
  opacity: .3;
}
.s-page-video .video {
  position: relative;
  padding: 20px;
  padding-bottom: 0;
}
.s-page-video .video-food {
  width: 100%;
}
.s-page-video .video-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.s-page-video .desc {
  text-align: left;
  padding: 20px;
  line-height: 25px;
}
.video-play-btn {
  width: 80px;
  height: 80px;
}
.s-page-shufulei {
  background-color: #f2a94b;
}
.s-page-paofu {
  background-color: #a96c35;
}
/*
==============================================
arrowing
==============================================
*/
.arrowing {
  animation-name: arrowing;
  -webkit-animation-name: arrowing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes arrowing {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes arrowing {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.arrow {
  -webkit-animation: arrow 2s 0.5s infinite linear normal forwards;
  animation: arrow 2s 0.5s infinite linear normal forwards;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-16px);
    opacity: .2;
  }
  100% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(-16px);
    opacity: .2;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.opacity-scale-in {
  -webkit-animation: opacity-scale-in 7s 0.1s 1 linear normal none;
  animation: opacity-scale-in 7s 0.1s 1 linear normal none;
}
@-webkit-keyframes opacity-scale-in {
  0% {
    -webkit-transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0.35, 0.35) rotate(9deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5, 3.5) rotate(90deg);
    opacity: 1;
  }
}
@keyframes opacity-scale-in {
  0% {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: scale(0.35, 0.35) rotate(9deg);
    opacity: 1;
  }
  100% {
    transform: scale(3.5, 3.5) rotate(90deg);
    opacity: 1;
  }
}
.rotate-alltime {
  -webkit-animation: rotate-alltime 2s 0s infinite linear normal none;
  animation: rotate-alltime 2s 0s infinite linear normal none;
}
@-webkit-keyframes rotate-alltime {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotate-alltime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fade-in {
  -webkit-animation: fadein 1s 0.1s 1 linear normal none;
  animation: fadein 1s 0.1s 1 linear normal none;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.left-in {
  -webkit-animation: left-in 0.6s 0.1s 1 linear normal none;
  animation: left-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes left-in {
  0% {
    -webkit-transform: translate3D(-100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(-50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes left-in {
  0% {
    -webkit-transform: translate3D(-100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(-50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.down-in {
  -webkit-animation: down-in 0.6s 0.1s 1 linear normal none;
  animation: down-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes down-in {
  0% {
    -webkit-transform: translate3D(0, 100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, 50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes down-in {
  0% {
    -webkit-transform: translate3D(0, 100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, 50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.right-in {
  -webkit-animation: right-in 0.6s 0.1s 1 linear normal none;
  animation: right-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes right-in {
  0% {
    -webkit-transform: translate3D(100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes right-in {
  0% {
    -webkit-transform: translate3D(100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.up-in {
  -webkit-animation: up-in 0.6s 0.1s 1 linear normal none;
  animation: up-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes up-in {
  0% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes up-in {
  0% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
