body {
  font: 1rem/1.2 "Merriweather Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
img {
  border: none;
}
a {
  outline: none;
  text-decoration: none;
  color: #333333;
}
em,
i,
strong,
b {
  font-weight: 400;
  font-style: normal;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
.body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  min-height: 0;
}
.full-fill {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}
.audio-ctrl .player-btn {
  background: url(http://virola.qiniudn.com/control-music.png) 0 0 no-repeat;
  background-size: 72px 36px;
  position: fixed;
  z-index: 9999;
  display: block;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.audio-ctrl .player-btn-stop {
  background-position: -36px 0;
}
.arrow {
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -10px;
  width: 19px;
  height: 17px;
  opacity: .8;
  z-index: 1000;
  -webkit-animation: arrowing 1s infinite;
  -o-animation: arrowing 1s infinite;
  animation: arrowing 1s infinite;
}
.device {
  padding: 30px 10px;
  background: #222;
  margin: 10px auto;
  width: 320px;
  border-radius: 20px;
  border: 4px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  line-height: 4em;
  z-index: 99999;
}
.err-msg {
  position: absolute;
  overflow: visible;
  z-index: 999999;
  left: 50%;
  bottom: 75px;
  padding: 10px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px #1a1a1a;
  box-shadow: 0px 0px 10px #1a1a1a;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-shadow: none;
  color: #fff;
}
.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 100%;
  overflow: hidden;
  font-size: 12px;
}
.page-container {
  background: #000;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}
.slide-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.slide img {
  display: block;
  max-width: 100%;
}
.s-homepage {
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
  /*background-image: url(../img/page/bg-page1.jpg);*/
}
.logo img {
  display: block;
  width: 166px;
  height: 64px;
}
.s-page1 {
  background-image: url(../img/page/bg-page2.png);
  color: #fff;
}
.s-page1 article {
  margin: 0 20%;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
}
.s-page1 .logo {
  margin-bottom: 1.5em;
}
.s-page1 p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 1em;
}
.s-page1 .person-intro-small {
  margin-bottom: 2em;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  /* vertical */
  -webkit-flex-direction: row;
  /* column, row-reverse, column-reverse */
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.s-page1 .person-small {
  max-width: 45%;
}
.s-page1 .person-text-1 {
  max-width: 42%;
}
.s-page2 {
  background-image: url(../img/page/bg-page3.jpg);
}
.s-page2 article {
  padding: 25% 0 0;
  width: 45%;
  height: 100%;
}
.s-page2 .person-text-2 {
  max-width: 80%;
  margin: 0 auto 1em;
}
.s-page2 p {
  margin-left: 5px;
  min-width: 12em;
  text-align: center;
  line-height: 22px;
  color: #5e1b3f;
  white-space: nowrap;
}
.s-deserts {
  background: #b78a53;
}
.s-deserts article {
  height: 100%;
}
.s-deserts .logo-sub {
  height: 20%;
  position: relative;
}
.s-deserts .logo-sub img {
  width: 151px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.s-deserts .tab {
  height: 80%;
  overflow: hidden;
}
.tab {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  /* vertical */
  -webkit-flex-direction: row;
  /* column, row-reverse, column-reverse */
  -ms-flex-direction: row;
  flex-direction: row;
  color: #5e2612;
}
.tab-nav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}
.tab-nav li {
  height: 16.7%;
  padding: 20% 5px;
  text-align: center;
}
.tab-nav li h4 {
  font-size: 16px;
  font-weight: 400;
}
.tab-nav li h5 {
  font-size: 12px;
  font-weight: 400;
}
.tab-nav .current {
  font-weight: 700;
  text-align: right;
  background-color: #fff;
}
.tab-content {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.tab-content-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1em;
  line-height: 25px;
  font-size: 14px;
}
.tab-content-item p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.tab-content .left-in {
  display: block;
  opacity: 0;
}
.tab-color1 {
  background-color: #f4eee5;
}
.tab-color2 {
  background-color: #ede2d4;
}
.tab-color3 {
  background-color: #e6d6c3;
}
.tab-color4 {
  background-color: #dfcab1;
}
.tab-color5 {
  background-color: #d7bfa1;
}
.tab-color6 {
  background-color: #d0b38f;
}
.s-page {
  text-align: center;
  color: #fff;
}
.s-page article {
  position: relative;
  padding: 10px;
}
.s-page .title {
  margin-bottom: 10px;
  text-align: center;
}
.s-page .title img {
  margin: 0 auto;
  width: 153px;
}
.s-page-foods .pic-album {
  position: relative;
  margin: 0 5%;
  max-width: 448px;
}
.s-page-foods .pic-foods-bg {
  max-width: 100%;
}
.s-page-foods .foods {
  position: absolute;
  top: 10%;
  left: 18%;
  right: 18%;
  bottom: 8%;
  overflow: hidden;
  color: #8b391b;
  font-size: 14px;
  text-align: left;
}
.s-page-foods .foods h4 {
  margin-bottom: .5em;
}
.s-page-foods .foods-list {
  height: 100%;
  padding-bottom: 2em;
  overflow: auto;
}
.s-page-foods .foods-list dl {
  *zoom: 1;
  margin: 10px 0;
  border-bottom: 1px dotted #8b391b;
  padding-bottom: 2px;
}
.s-page-foods .foods-list dl:before,
.s-page-foods .foods-list dl:after {
  display: table;
  content: "";
}
.s-page-foods .foods-list dl:after {
  clear: both;
}
.s-page-foods .foods-list dt {
  width: 75%;
  float: left;
}
.s-page-foods .foods-list dt em {
  display: block;
  font-style: italic;
  font-family: MV Boli;
}
.s-page-foods .foods-list dd {
  width: 25%;
  padding-right: 5px;
  float: left;
  text-align: right;
  font-family: MV Boli;
  font-style: italic;
}
.s-page-video .video {
  position: relative;
  padding: 0 20px;
}
.s-page-video .video-food {
  width: 100%;
}
.s-page-video .video-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.s-page-video .desc {
  text-align: left;
  padding: 20px;
  line-height: 25px;
}
.video-play-btn {
  width: 80px;
  height: 80px;
}
.video-player {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.s-page-shufulei {
  background-color: #f2a94b;
}
.s-page-paofu {
  background-color: #a96c35;
}
/*
==============================================
arrowing
==============================================
*/
.arrowing {
  animation-name: arrowing;
  -webkit-animation-name: arrowing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes arrowing {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes arrowing {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.arrow-up {
  -webkit-animation: arrowup 2s 0.5s infinite linear normal forwards;
  animation: arrowup 2s 0.5s infinite linear normal forwards;
}
@-webkit-keyframes arrowup {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-16px);
    opacity: .2;
  }
  100% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes arrowup {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(-16px);
    opacity: .2;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.opacity-scale-in {
  -webkit-animation: opacity-scale-in 7s 0.1s 1 linear normal none;
  animation: opacity-scale-in 7s 0.1s 1 linear normal none;
}
@-webkit-keyframes opacity-scale-in {
  0% {
    -webkit-transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0.35, 0.35) rotate(9deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5, 3.5) rotate(90deg);
    opacity: 1;
  }
}
@keyframes opacity-scale-in {
  0% {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: scale(0.35, 0.35) rotate(9deg);
    opacity: 1;
  }
  100% {
    transform: scale(3.5, 3.5) rotate(90deg);
    opacity: 1;
  }
}
.rotate-alltime {
  -webkit-animation: rotate-alltime 2s 0s infinite linear normal none;
  animation: rotate-alltime 2s 0s infinite linear normal none;
}
@-webkit-keyframes rotate-alltime {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotate-alltime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fade-in {
  -webkit-animation: fadein 1s 0.1s 1 linear normal none;
  animation: fadein 1s 0.1s 1 linear normal none;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.left-in {
  -webkit-animation: left-in 0.6s 0.1s 1 linear normal none;
  animation: left-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes left-in {
  0% {
    -webkit-transform: translate3D(-100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(-50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes left-in {
  0% {
    -webkit-transform: translate3D(-100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(-50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.down-in {
  -webkit-animation: down-in 0.6s 0.1s 1 linear normal none;
  animation: down-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes down-in {
  0% {
    -webkit-transform: translate3D(0, 100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, 50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes down-in {
  0% {
    -webkit-transform: translate3D(0, 100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, 50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.right-in {
  -webkit-animation: right-in 0.6s 0.1s 1 linear normal none;
  animation: right-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes right-in {
  0% {
    -webkit-transform: translate3D(100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes right-in {
  0% {
    -webkit-transform: translate3D(100%, 0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(50%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
.up-in {
  -webkit-animation: up-in 0.6s 0.1s 1 linear normal none;
  animation: up-in 0.6s 0.1s 1 linear normal none;
}
@-webkit-keyframes up-in {
  0% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
@keyframes up-in {
  0% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3D(0, -100%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}
