// 每个甜品颜色的分类
@color-makalong: #c54278;
@color-shufulei: #f2a94b;
@color-heisenlin: #67452c;
@color-shuiguota: #ea893c;
@color-yishinaidong: #cb3a4b;
@color-paofu: #a96c35;

@color-all: #b78a53;

// mixins

// flex box

.flex-box() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;        /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;      /* TWEENER - IE 10+ */

    display: -webkit-flex;      /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-h() {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;      /* vertical */

    -webkit-flex-direction: row;        /* column, row-reverse, column-reverse */
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-v() {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

// 内部元素对齐方式
// center, center
// 
.flex-align(@direction) {
    -webkit-align-items: @direction;
    align-items: @direction;

    -webkit-justify-content: @direction;
    justify-content: @direction;
}
.flex-align(@direction, @valign) {
    -webkit-align-items: @valign;
    align-items: @valign;

    -webkit-justify-content: @direction;
    justify-content: @direction;
}

// align-content
// : flex-start | flex-end | center | space-between | space-around | stretch
.flex-align-v(@direction) {
    -webkit-align-content: @direction;
    align-content: @direction;
}

.flex-item(@size) {
    -webkit-box-flex: @size;
    -moz-box-flex: @size;
    -webkit-flex: @size;
    -ms-flex: @size;
    flex: @size;
}

// page less start....

.page-container {
    background: #000;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.slide-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    img {
        display: block;
        max-width: 100%;
    }
}



.s-homepage {
    position: absolute;
    z-index: 1001;
    .size(100%);
    /*background-image: url(../img/page/bg-page1.jpg);*/
}

.logo {
    img {
        display: block;
        width: 166px;
        height: 64px;
    }
}

// 首页美味关系介绍的样式设定
.s-page1 {
    background-image: url(../img/page/bg-page2.png);
    color: #fff;

    // width = 150 / 640
    article {
        margin: 0 20%;
        height: 100%;

        .flex-box();
        .flex-v();
        .flex-align(center);
        .flex-align-v(center);
    }

    .logo {
        margin-bottom: 1.5em;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 1em;
    }

    .person-intro-small {
        // position: relative;
        margin-bottom: 2em;
        width: 100%;
        // .clearfix();

        .flex-box();
        .flex-h();
        .flex-align(space-between, flex-end);
    }

    .person-small {
        max-width: 45%;
        // .size(130px/2, 188px/2);
    }
    .person-text-1 {
        max-width: 42%;
        // .size(152px/2, 90px/2);
    }
}

// pengcheng intro page
// start...
.s-page2 {
    background-image: url(../img/page/bg-page3.jpg);

    article {
        padding: 25% 0 0;
        width: 45%;
        height: 100%;
    }

    .person-text-2 {
        max-width: 80%;
        margin: 0 auto 1em;
    }

    p {
        margin-left: 5px;
        min-width: 12em;
        text-align: center;
        line-height: 22px;
        color: #5e1b3f;
        white-space: nowrap;
    }
}

.s-deserts {
    background: @color-all;

    article {
        height: 100%;
    }

    .logo-sub {
        height: 20%;
        position: relative;

        img {
            width: 151px;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    .tab {
        height: 80%;
        overflow: hidden;
    }
}

// .deserts-wrap {
//     padding: 1em;
//     padding-top: 3em;
// }


// 美食汇总页

.tab {

    .flex-box();
    .flex-h();

    color: #5e2612;

    &-nav {
        .flex-item(1);
        height: 100%;

        li {
            height: 16.7%;
            padding: 20% 5px;
            text-align: center;

            h4 {
                font-size: 16px;
                font-weight: 400;
            }

            h5 {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .current {
            font-weight: 700;
            text-align: right;
            background-color: #fff;
        }
    }

    &-content {
        .flex-item(3);
        overflow: hidden;
        position: relative;
        background-color: #fff;

        &-item {
            position: absolute;
            width: 100%;
            height: 100%;
            display: none;
            padding: 1em;
            line-height: 25px;
            font-size: 14px;

            p {
                width: 100%;
                .ellipsis(4);
            }
        }

        .left-in {
            display: block;
            opacity: 0;
        }
    }

    &-color1 {
        background-color: #f4eee5;
    }
    &-color2 {
        background-color: #ede2d4;
    }
    &-color3 {
        background-color: #e6d6c3;
    }
    &-color4 {
        background-color: #dfcab1;
    }
    &-color5 {
        background-color: #d7bfa1;
    }
    &-color6 {
        background-color: #d0b38f;
    }
}


// 甜品详情页
.s-page {
    text-align: center;
    color: #fff;

    article {
        position: relative;
        padding: 10px;
    }

    .title {
        // margin-top: 1em;
        margin-bottom: 10px;
        text-align: center;

        img {
            margin: 0 auto;
            width: 153px;
        }
    }

}

// 食材页
.s-page-foods {
    .pic-album {
        position: relative;
        margin: 0 5%;
        max-width: 448px;
    }

    .pic-foods-bg {
        max-width: 100%;
    }

    .foods {
        position: absolute;
        top: 10%;
        left: 18%;
        right: 18%;
        bottom: 8%;
        overflow: hidden;
        color: #8b391b;
        font-size: 14px;
        text-align: left;

        h4 {
            margin-bottom: .5em;
        }
    }

    // 食材列表
    .foods-list {
        height: 100%;
        padding-bottom: 2em;
        overflow: auto;

        dl {
            .clearfix();
            margin: 10px 0;
            border-bottom: 1px dotted #8b391b;
            padding-bottom: 2px;
        }
        dt {
            width: 75%;
            float: left;

            em {
                display: block;
                font-style: italic;
                font-family: MV Boli;
            }
        }

        dd {
            width: 25%;
            padding-right: 5px;
            float: left;
            text-align: right;
            font-family: MV Boli;
            font-style: italic;
        }
    }
}

// 视频页
.s-page-video {

    .video {
        position: relative;
        padding: 0 20px;

        &-food {
            width: 100%;
        }

        &-play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -40px;
            margin-left: -40px;
        }
    }

    .desc {
        text-align: left;
        padding: 20px;
        line-height: 25px;
    }
}
.video-play-btn {
    .size(80px);
}

.video-player {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

// 单个页面
.s-page-shufulei {
    background-color: @color-shufulei;
}

.s-page-paofu {
    background-color: @color-paofu;
}
